# Extracted from https://github.com/ulrich/macaron-factory/blob/master/.gitignore
# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore

# Ignore Play! working directory #
db
eclipse
log
logs
precompiled
tmp
test-result
eclipse
server.pid
/nbproject/private/
nbproject/project.xml

lib/ldap-connector-1.0.jar

lib/model-1.0.jar

lib/utils-1.0.jar
